/* Navigation */
nav {
    flex-direction: column;
}
nav::before
{
 height: 150px;
}
#logo h1
{
 font-size: 1rem;
} 
#navbar ul li a{
    font-size: 1rem;
    padding: 0px 7px;
    padding-bottom: 8px;
}
/* Home section */
#home{
    height: 553px; 
    padding: 3px 28px;
}

#home::before{
    height: 649px; 
}
#home h1
{
 font-size: 3.8rem;
}
#home p{
    font-size: 13px;
}

/* Services section  */
#services{
    flex-direction: column; 
    align-items: center;
}

#services .box { 
    padding: 14px;
    margin: 2px 0px; 
    margin-bottom: 20px;
    width: 100%;
}
#services .box img{ 
    width: 60%;
}
/* Contact us section */

/* Footer */

/* Utility classes */
.bold{
    font-size:26px;
}
.btn{
    font-size: 13px;
    padding: 4px 8px;
}