/* CSS Reset */
*{
    margin: 0;
    padding: 0;
}

nav {
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 45px;
    position:sticky;
    height: 80px;
}
nav::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    overflow: hidden;
    opacity: 0.7;
}
/* Navigation Bar */
/* #navbar{
    display: flex;
    align-items: center;
    justify-content: flex-end;
} */


/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
    display: flex;
    align-items: center;
    color: rgb(141 81 160);
    font-size: 1.5em;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}

/* Home Section */
#home{
    display: flex;
    flex-direction: column;
    padding:3px 200px;
    height: 599px;
    justify-content: center;
    align-items: center;
}

#home::before{ 
    content: "";
    position: absolute;
    background: url('../bg2.jpg') no-repeat center center/cover;
    height: 695px;
    top:0px;
    left:0px;
    width: 100%;
    z-index: -1;
    /* opacity:0.89; */
    opacity: 0.75;
}

#home h1{
    /* color:white; */
    color: black;
    text-align: center;
    font-family: 'Bree Serif', serif;
    margin-bottom: 30px;
}

#home p{
    color:white;
    color: black;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Bree Serif', serif;
}
/* Services Section */
#services-box #head
{
    display: flex;
    justify-content:space-between;
    align-items: center;
     padding: 5px 10px;
    /* height: 80px; */
}

#services{
    margin: 0px 34px;
    display: flex;
    justify-content: space-evenly;
}
#services .box{ 
     display: flex;
    flex-direction: column; 
    box-sizing: border-box;
    width: 30%;
    padding: 5px;
    margin: 2px 4px;
    background: #f2f2f2;
    margin-bottom: 20px;
    align-items: center;
}

#services .box img{ 
   height: 180px;
   width: 100%;
   display: block;
}

#services .box p{
    font-family: 'Bree Serif', serif;
    flex-grow: 1;
    font-size: 1rem;
} 
#services .btn
{
    background: #ff9966;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #ff5e62, #ff9966);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #ff5e62, #ff9966); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Contact Section */
#contact{
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to left, #2c3e50, #bdc3c7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to left, #2c3e50, #bdc3c7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

#contact-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box{
    font-family: 'Bree Serif', serif;
    color:black;
}
#contact-box p
{
 font-size:1.5em;
 color: black;
}
footer{
    background: black;
    color: white;
    padding: 15px 20px;
}

/* Basic Classes */
.bold{
    font-family: 'Bree Serif', serif;
    font-size: 3rem;
    padding: 12px;
}

.light{
    font-family: 'Bree Serif', serif;
    font-size: 1.5rem;
    padding: 12px;
}

.btn{
    padding: 6px 20px;
    /* border: 2px solid white; */
    background-color: brown;
    color: white;
    margin: 17px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor:pointer;
}
.waste-btn
{
 visibility: hidden;
}
.center{
    text-align: center;
}
